@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;400;500;600;700&display=swap');

:root {
    --primary-color: #6366F1;
    --accent-color: #3f83f8;
    --text-color: #333333;
    --link-color: #2563eb;
    --background-color: #ffffff;
    --light-gray: #f0f0f0;
    --gray: #808080;
    --dark-gray: #555;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* font-family: 'Inter', sans-serif; */
    text-decoration: none;
    list-style-type: none;
    font-family: 'Helvetica Neue', Arial, sans-serif;
}
body{
    min-width: 100vw;
    min-height: 100vh;
    background-color: var(--light-gray);
    text-align: center;
}


/*  Navbar start */

.navbar-box{
    width: 100%;
    background-color: var(--background-color);
}

.navbar{
    width: 90%;
    margin: 0 auto;
    background-color: var(--background-color);
    display: flex;
    align-items: center;
    justify-content:space-between;
    padding: 1rem 0;
}

.navbar .shopco a{
    color: black;
    font-size: 2.8rem;
    font-family: 'Arial', sans-serif;
    font-weight: 900;
}

.navbar .navlist{
    display: flex;
}
.navbar .navlist a{
    font-size: 1.2rem;
    color: black;
    padding: 0.8rem;
}
.navbar .navlist a:hover{
    background-color: var(--light-gray);
}
.navbar .navsearch{
    width: 30%;
    position: relative;
}
.navbar .navsearch input{
    height: 2.8rem;
    width: 100%;
    border: none;
    background-color: var(--light-gray);
    border-radius: 1.35rem;
    padding-left: 2.5rem;
    color: var(--gray);
    font-size: 1.2rem;
    display: flex;
}
.navbar .navsearch input:focus{
    border: none;
    box-shadow: 0 2px 15px 2px rgba(0, 0, 0, 0.17);
}
.navbar .navsearch i{
    position: absolute;
    left: 2%;
    top: 50%;
    transform: translateY(-50%);
    font-size: 2rem;
    color: var(--gray);
}

.navbar .navicons{
    font-size: 1.6rem;
    display: flex;
    gap: 12px;
}
.navbar .navicons a{
    color: black;
}
.navbar .navicons .bx-search{
    display: none;
}

.navsidebar{
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 300px;
    z-index: 999;
    background-color: #ffffff05;
    backdrop-filter: blur(15px);
    box-shadow: 0 2px 15px 2px rgba(0, 0, 0, 0.15);
    display: none;
    flex-direction: column;
}
.navsidebar a{
    width: 100%;
    height: 40px;
    padding-top: 10px;
    color: black;
    font-size: 1.2rem;
}
.navsidebar a:hover{
    background-color: var(--light-gray);
}
.show-menu a{
    color: black;
    font-size: 1.7rem;
    font-weight: 900;
    display: none ;
}
.show-menu{
    display: none;
}
.hide-menu{
    color: black;
    font-size: 1.7rem;
    font-weight: 900;
}

@media (max-width:768px) {

    .hidenavlist{
        display: none;
    }
    .show-menu a{
        display: flex;
     }
    .navbar{
        height: 5.5rem;
    }
    .navbar .shopco a{
        font-size: 2rem;
    }
}

@media (max-width:426px) {
    .navbar .shopco a{
        font-size: 1.8rem;
    }
    .show-menu a{
        color: black;
        font-size: 1.8rem;
        font-weight: 900;
    }
    .navbar{
        height: 4.5rem;
    }
    .navsearch{
        display: none;
    }
    .navbar .navicons .bx-search{
        display: flex;
    }
    .navbar .navicons{
        font-size: 1.8rem;
    }
    .navsidebar{
        width: 100%;
    }
}

/*  Navbar End */





/* path start */
.path-box{
    width: 100%;
    background-color: var(--background-color);
}
.path-container{
    width: 90%;
    margin: 0 auto;
    border-top: 2px solid var(--gray);
}
.path-container .path-list{
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: clamp(0.7rem, 4vw, 1.5rem) 0;
    gap: 10px;
}
.path-container .path-list p{
    color: var(--gray);
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-size: 1.1rem;    
}
.path-container .path-list p:last-child{
    color: black;
}
.path-container .path-list p i{
    font-size: 1.5rem;    
}
/* path end */

.cart-box{
    width: 100%;
    background-color: var(--background-color);
}
.cart-box .cart-title{
    width: 90%;
    margin: 0 auto;
    text-align: start;
}
.cart-box .cart-title h2{
    font-size: 2rem;
    font-weight: 900;
}

.cart-container{
    width: 90%;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
    padding: 10px 0;
}

.cart-container .left-cart-items{
    width: 60%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    border: 2px solid rgb(229, 229, 229);
    border-radius: 10px;
    padding: 1rem;
}
.cart-container .left-cart-items .cart-card{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    border-bottom: 2px solid rgb(229, 229, 229);
    padding-bottom: 1rem;
}
.cart-container .left-cart-items .cart-card:last-child{
    border: none;
    padding-bottom: 0;
}
.cart-container .left-cart-items .cart-card .item-info{
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 12px;
}
.cart-container .left-cart-items .cart-card .item-info img{
    width: 100%;
    min-width: 120px;
    height: 120px;
    object-fit: cover;
    border-radius: 10px;
}
.cart-container .left-cart-items .cart-card .item-info .about-item{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: start;
    font-family: 'Inter', sans-serif;
    /* gap: 10px; */
}
.cart-container .left-cart-items .cart-card .item-info .about-item h3{
    text-align: start;
}
.cart-container .left-cart-items .cart-card .item-info .about-item h4{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 5px;
}
.cart-container .left-cart-items .cart-card .item-info .about-item h4 p{
    color: var(--text-color);
    font-size: 16px;
    font-weight: 500;
}
.cart-container .left-cart-items .cart-card .item-info .about-item h4 span{
    color: var(--gray);
    font-size: 14px;
    font-weight: 500;
}
.cart-container .left-cart-items .cart-card .item-info .about-item h2{
    font-size: 1.2rem;
}
.cart-container .left-cart-items .cart-card .cart-card-btns{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: end;
    height: 120px;
}
.cart-container .left-cart-items .cart-card .cart-card-btns span{
    color: red;
}
.cart-container .left-cart-items .cart-card .cart-card-btns div{
    display: flex;
    justify-content: space-between;
    padding: 10px 15px;
    width: 100px;
    background-color: rgb(229, 229, 229);
    border-radius: 30px;
}

.right-order-summary{
    width: 40%;
    /* height: 466px; */
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: start;
    padding: 1rem;
    border: 2px solid rgb(229, 229, 229);
    border-radius: 10px;
    gap: 1.5rem;
    margin-bottom: auto;
}
.right-order-summary h2{
    font-size: 1.3rem;
}
.right-order-summary .prices{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: start;
    align-items: start;
    border-bottom: 2px solid rgb(229, 229, 229);
    padding-bottom: 10px;
}
.right-order-summary .prices h2{
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.right-order-summary .prices h2 p{
    font-size: 1rem;
    color: var(--gray);
    font-weight: 500;
}
.right-order-summary .prices h2 span{
    font-size: 1.2rem;
    color: black;
}
.right-order-summary .prices h2:nth-child(2) span{
    color: red;
}
.right-order-summary h4{
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.right-order-summary h4 p{
    color: var(--gray);
}
.right-order-summary h4 span{
    font-size: 1.2rem;
}
.right-order-summary .coupon{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
}
.right-order-summary .coupon .add-coupon{
    width: 65%;
    background-color: rgb(229, 229, 229);
    border-radius: 30px;
    padding: 10px 10px 10px 15px;
    display: flex;
    gap: 8px;
    color: var(--dark-gray);
    align-items: center;
}
.right-order-summary .coupon .add-coupon i{
    font-size: 1.3rem;
    font-weight: 500;
}
.right-order-summary .coupon .add-coupon p{
    font-size: 0.9rem;
}
.right-order-summary .coupon .apply-coupon{
    width: 35%;
    background-color: black;
    color: var(--background-color);
    padding: 10px;
    border-radius: 30px;
}
.right-order-summary .checkout{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    background-color: black;
    color: var(--background-color);
    padding: 10px;
    border-radius: 30px;
}
.right-order-summary .checkout i{
    font-size: 1.5rem;
}

@media (max-width:768px) {
    .right-order-summary .coupon .add-coupon{
        width: 100%;
    }
    .right-order-summary .coupon{
        flex-direction: column;
    }
    .right-order-summary .coupon .apply-coupon{
        width: 100%;
    }
}

@media (max-width:426px) {
    .cart-container{
        flex-direction: column;
    }
    .cart-container .left-cart-items{
        width: 100%;
    }
    .cart-container .left-cart-items .cart-card{
        flex-direction: column;
    }
    .cart-container .left-cart-items .cart-card .cart-card-btns{
        flex-direction: row;
        width: 100%;
        height: 40px;
        align-items: center;
        gap: 1rem;
    }
    .cart-container .left-cart-items .cart-card .cart-card-btns div{
        width: 100%;
        font-size: 1.2rem;
        padding: 8px;
        justify-content: space-around;
    }
    .cart-container .right-order-summary{
        width: 100%;
    }
}

/* cart end */




/*  footer and newletter section start */
.footer-container{
    max-width: 90%;
    margin: 0 auto;
    margin-top: 6rem;
}

.main-footer{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    padding-bottom: 3rem;
    padding-top: 3rem;
}

.left-footer{
    max-width: 30%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.left-footer-icon{
    margin-left: 0;
    margin-bottom: 1.5rem;
}

.left-footer-icon span{
    margin: auto;
    font-size: 2rem;
    color: black;
    font-family: 'Helvetica Neue', Arial, sans-serif;
    font-weight: 900;
}

.left-footer-info{
    font-size: 0.95rem;
    text-align: start;
    margin: 0 4rem 1.5rem 0;
    color: var(--gray);
}

.footer-logo i{
    margin-right: 0.8rem;
    width: 2rem;
    height: 2rem;
    background-color: #ffffff;
    color: black;
    align-content: center;
    font-size: 1.5rem;
    border: 2px solid rgba(170, 170, 170, 0.774);
    border-radius: 50%;
}

.right-footer{
    display: grid;
    gap: 4rem;
    grid-template-columns: repeat(4, 1fr);
}

.footer-column{
    text-align: start;
}

.footer-column-heading{
    margin-top: 9.6px;
    font-size: 1.1rem;
    color: #333;
}

.footer-column-property{
    font-size: 0.9rem;
    margin-left: 0;
    color: var(--gray);
}

li{
    list-style-type: none;
    margin: 12px auto 12px 0;
}

@media screen and (max-width:802px){
    .main-footer{
        flex-direction: column;
    }

    .right-footer{
        grid-template-columns: repeat(2,1fr);
        gap: 1rem;
    }

    .left-footer{
        margin: auto;
        max-width: 80%;
    }
    .left-footer-icon{
        margin: auto;
    }
    .left-footer-info{
        text-align: center;
        margin: auto;
        padding: 1.2rem;
    }
    .footer-logo{
        margin: auto;
        margin-bottom: 2rem;
    }

    .footer-column{
        text-align: center;
    }
}

.copyright-footer{
    border-top: 1px solid var(--dark-gray);
    padding-top: 2rem;
    padding-bottom: 2rem;
    margin: 0 auto;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.copyright-footer .left-copyright{
    font-size: 1.2rem;
    color: gray;
}

.copyright-footer .right_pay_logo{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.logo_box{
    width: 60px;
    height: 40px;
    background-color: var(--background-color);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
    border-radius: 6px;
    padding: 8px;
    position: relative;
}
.logo_box img{
    width: 80%;
    object-fit: cover;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);
}

@media (max-width:768px) {
    .copyright-footer{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        row-gap: 2rem;
    }
    
}

@media (max-width:426px) {
    .logo_box{
        width: 50px;
        height: 30px;
    }
    .copyright-footer .left-copyright{
        text-align: center;
    }
}


 /* for news-letter */
 .news-letter-container{
    background-color: var(--background-color);
    width: 100%;
 }
 .news-letter-main{
    max-width: 90%;
    margin: 0 auto;
    padding: 2rem 5rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: black;
    color: var(--background-color);
    border-radius: 1rem;
    position: relative;
    top: 80px;
 }
 .news-letter-main h1{
    text-align: start;
    max-width: 40%;
    font-family: 'Helvetica Neue', Arial, sans-serif;
    font-weight: 900;
 }

 .news-details{
    display: flex;
    flex-direction: column;
    justify-content: end;
    width: 30%;
    gap: 1rem;
    position: relative;
 }

 .news-details input{
    width: 100%;
    padding: 10px 40px;
    border: none;
    height: 40px;
    border-radius: 20px;
 }
 .news-details i{
    position: absolute;
    top: 11px;
    left: 12px;
    color: black;
    font-size: 1.2rem;
 }
 .news-details button{
    width: 100%;
    padding: 10px 15px;
    border: none;
    height: 40px;
    border-radius: 20px;
 }

 @media (max-width:1024px) {
    .news-letter-main h1{
        max-width: 60%;
     }
     .news-letter-main{
        position: relative;
        top: 80px;
     }
 }
 @media (max-width:768px) {
    .news-letter-main{
        padding: 2rem;
    }
    .news-letter-main h1{
        font-size: 1.5rem;
        max-width: 60%;
     }
     .news-details input{
        padding: 10px 35px;
        height: 30px;
        font-size: 0.7rem;
     }
     .news-details i{
        top: 6px;
        left: 12px;
        font-size: 1rem;
     }
     .news-details button{
        padding: 10px 15px;
        height: 30px;
        font-size: 0.7rem;
     }
     .news-letter-main{
        position: relative;
        top: 70px;
     }
 }
 @media (max-width:426px) {
    .news-letter-main{
        padding: 1rem;
        flex-direction: column;
        row-gap: 1.5rem;
    }
    .news-letter-main h1{
        text-align: center;
        font-size: 1.5rem;
        max-width: 100%;
     }
     .news-details{
        width: 100%;
     }
     .news-details input{
        padding: 10px 35px;
        height: 30px;
        font-size: 0.7rem;
     }
     .news-details i{
        top: 6px;
        left: 12px;
        font-size: 1rem;
     }
     .news-details button{
        padding: 10px 15px;
        height: 30px;
        font-size: 0.7rem;
     }
     .news-letter-main{
        position: relative;
        top: 90px;
     }
 }

/*  footer and newletter section end */